ul {
  list-style: none;
  padding-left: 0px;
}

ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
}

ul li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

ul li:last-child {
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ed-media {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
}

.ed-media .ed-media-img-wrapper {
  margin-right: 10px;
}

.ed-media .ed-media-number-wrapper {
  margin-right: 10px;
  width: 30px;
  border-right: 1px solid #ddd;
  font-size: 0.8em;
  font-weight: bold;
  padding-right: 5px;
  text-align: center;
}

.ed-media img {
  width: 32px;
  height: 32px;
}

.ed-media .ed-media-body {

}
